##Import of Libraries

In [10]:
import pandas as pd

##Initial Study of the Dataset

In [15]:
titanic=pd.read_csv('titanic.csv')
pd.set_option('display.max_rows',None) #to show all the rows instead of ... and then the last ones, if none then we can flexibly change the number fo rows in pd.head(), we can have a particular number as well instead of None

In [12]:
titanic.head() #shows the first five instances of the dataset

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [13]:
titanic.shape #(no.of rows,no.of columns)

(1309, 14)

In [14]:
titanic.head(300)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",male,26.0000,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.0000,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,1,"Bird, Miss. Ellen",female,29.0000,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,0,"Birnbaum, Mr. Jakob",male,25.0000,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",male,25.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",female,35.0000,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
30,1,0,"Blackwell, Mr. Stephen Weart",male,45.0000,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
31,1,1,"Blank, Mr. Henry",male,40.0000,0,0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
32,1,1,"Bonnell, Miss. Caroline",female,30.0000,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
33,1,1,"Bonnell, Miss. Elizabeth",female,58.0000,0,0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
34,1,0,"Borebank, Mr. John James",male,42.0000,0,0,110489,26.5500,D22,S,NaN,NaN,"London / Winnipeg, MB"
35,1,1,"Bowen, Miss. Grace Scott",female,45.0000,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
36,1,1,"Bowerman, Miss. Elsie Edith",female,22.0000,0,1,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
37,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S,9,NaN,"Los Angeles, CA"
38,1,0,"Brady, Mr. John Bertram",male,41.0000,0,0,113054,30.5000,A21,S,NaN,NaN,"Pomeroy, WA"
39,1,0,"Brandeis, Mr. Emil",male,48.0000,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
40,1,0,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C,NaN,NaN,"Philadelphia, PA"
41,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0000,0,0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0000,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0000,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
44,1,1,"Burns, Miss. Elizabeth Margaret",female,41.0000,0,0,16966,134.5000,E40,C,3,NaN,NaN
45,1,0,"Butt, Major. Archibald Willingham",male,45.0000,0,0,113050,26.5500,B38,S,NaN,NaN,"Washington, DC"
46,1,0,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,NaN,NaN,NaN
47,1,1,"Calderhead, Mr. Edward Pennington",male,42.0000,0,0,PC 17476,26.2875,E24,S,5,NaN,"New York, NY"
48,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0000,0,0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
49,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0000,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Austria-Hungary / Germantown, Philadelphia, PA"
50,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0000,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Germantown, Philadelphia, PA"
51,1,0,"Carlsson, Mr. Frans Olof",male,33.0000,0,0,695,5.0000,B51 B53 B55,S,NaN,NaN,"New York, NY"
52,1,0,"Carrau, Mr. Francisco M",male,28.0000,0,0,113059,47.1000,NaN,S,NaN,NaN,"Montevideo, Uruguay"
53,1,0,"Carrau, Mr. Jose Pedro",male,17.0000,0,0,113059,47.1000,NaN,S,NaN,NaN,"Montevideo, Uruguay"
54,1,1,"Carter, Master. William Thornton II",male,11.0000,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
55,1,1,"Carter, Miss. Lucile Polk",female,14.0000,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
56,1,1,"Carter, Mr. William Ernest",male,36.0000,1,2,113760,120.0000,B96 B98,S,C,NaN,"Bryn Mawr, PA"
57,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0000,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
58,1,0,"Case, Mr. Howard Brown",male,49.0000,0,0,19924,26.0000,NaN,S,NaN,NaN,"Ascot, Berkshire / Rochester, NY"
59,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C,5,NaN,"New York, NY"
60,1,0,"Cavendish, Mr. Tyrell William",male,36.0000,1,0,19877,78.8500,C46,S,NaN,172.0,"Little Onn Hall, Staffs"
61,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0000,1,0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs"
62,1,0,"Chaffee, Mr. Herbert Fuller",male,46.0000,1,0,W.E.P. 5734,61.1750,E31,S,NaN,NaN,"Amenia, ND"
63,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0000,1,0,W.E.P. 5734,61.1750,E31,S,4,NaN,"Amenia, ND"
64,1,1,"Chambers, Mr. Norman Campbell",male,27.0000,1,0,113806,53.1000,E8,S,5,NaN,"New York, NY / Ithaca, NY"
65,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0000,1,0,113806,53.1000,E8,S,5,NaN,"New York, NY / Ithaca, NY"
66,1,1,"Chaudanson, Miss. Victorine",female,36.0000,0,0,PC 17608,262.3750,B61,C,4,NaN,NaN
67,1,1,"Cherry, Miss. Gladys",female,30.0000,0,0,110152,86.5000,B77,S,8,NaN,"London, England"
68,1,1,"Chevre, Mr. Paul Romaine",male,45.0000,0,0,PC 17594,29.7000,A9,C,7,NaN,"Paris, France"
69,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
70,1,0,"Chisholm, Mr. Roderick Robert Crispin",male,NaN,0,0,112051,0.0000,NaN,S,NaN,NaN,"Liverpool, England / Belfast"
71,1,0,"Clark, Mr. Walter Miller",male,27.0000,1,0,13508,136.7792,C89,C,NaN,NaN,"Los Angeles, CA"
72,1,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26.0000,1,0,13508,136.7792,C89,C,4,NaN,"Los Angeles, CA"
73,1,1,"Cleaver, Miss. Alice",female,22.0000,0,0,113781,151.5500,NaN,S,11,NaN,NaN
74,1,0,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S,NaN,NaN,"Stoughton, MA"
75,1,0,"Colley, Mr. Edward Pomeroy",male,47.0000,0,0,5727,25.5875,E58,S,NaN,NaN,"Victoria, BC"
76,1,1,"Compton, Miss. Sara Rebecca",female,39.0000,1,1,PC 17756,83.1583,E49,C,14,NaN,"Lakewood, NJ"
77,1,0,"Compton, Mr. Alexander Taylor Jr",male,37.0000,1,1,PC 17756,83.1583,E52,C,NaN,NaN,"Lakewood, NJ"
78,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0000,0,2,PC 17756,83.1583,E45,C,14,NaN,"Lakewood, NJ"
79,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0000,2,0,11770,25.7000,C101,S,2,NaN,"New York, NY"
80,1,0,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S,NaN,NaN,"Roachdale, IN"
81,1,0,"Crosby, Capt. Edward Gifford",male,70.0000,1,1,WE/P 5735,71.0000,B22,S,NaN,269.0,"Milwaukee, WI"
82,1,1,"Crosby, Miss. Harriet R",female,36.0000,0,2,WE/P 5735,71.0000,B22,S,7,NaN,"Milwaukee, WI"
83,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0000,1,1,112901,26.5500,B26,S,7,NaN,"Milwaukee, WI"
84,1,0,"Cumings, Mr. John Bradley",male,39.0000,1,0,PC 17599,71.2833,C85,C,NaN,NaN,"New York, NY"
85,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0000,1,0,PC 17599,71.2833,C85,C,4,NaN,"New York, NY"
86,1,1,"Daly, Mr. Peter Denis",male,51.0000,0,0,113055,26.5500,E17,S,5 9,NaN,"Lima, Peru"
87,1,1,"Daniel, Mr. Robert Williams",male,27.0000,0,0,113804,30.5000,NaN,S,3,NaN,"Philadelphia, PA"
88,1,1,"Daniels, Miss. Sarah",female,33.0000,0,0,113781,151.5500,NaN,S,8,NaN,NaN
89,1,0,"Davidson, Mr. Thornton",male,31.0000,1,0,F.C. 12750,52.0000,B71,S,NaN,NaN,"Montreal, PQ"
90,1,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.0000,1,2,F.C. 12750,52.0000,B71,S,3,NaN,"Montreal, PQ"
91,1,1,"Dick, Mr. Albert Adrian",male,31.0000,1,0,17474,57.0000,B20,S,3,NaN,"Calgary, AB"
92,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0000,1,0,17474,57.0000,B20,S,3,NaN,"Calgary, AB"
93,1,1,"Dodge, Dr. Washington",male,53.0000,1,1,33638,81.8583,A34,S,13,NaN,"San Francisco, CA"
94,1,1,"Dodge, Master. Washington",male,4.0000,0,2,33638,81.8583,A34,S,5,NaN,"San Francisco, CA"
95,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0000,1,1,33638,81.8583,A34,S,5,NaN,"San Francisco, CA"
96,1,0,"Douglas, Mr. Walter Donald",male,50.0000,1,0,PC 17761,106.4250,C86,C,NaN,62.0,"Deephaven, MN / Cedar Rapids, IA"
97,1,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.0000,1,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
98,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0000,1,0,PC 17761,106.4250,C86,C,2,NaN,"Deephaven, MN / Cedar Rapids, IA"
99,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0000,1,0,11755,39.6000,A16,C,1,NaN,London / Paris
100,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.0000,1,0,PC 17485,56.9292,A20,C,1,NaN,London / Paris
101,1,0,"Dulles, Mr. William Crothers",male,39.0000,0,0,PC 17580,29.7000,A18,C,NaN,133.0,"Philadelphia, PA"
102,1,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.0000,0,1,11767,83.1583,C54,C,7,NaN,"Mt Airy, Philadelphia, PA"
103,1,1,"Endres, Miss. Caroline Louise",female,38.0000,0,0,PC 17757,227.5250,C45,C,4,NaN,"New York, NY"
104,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0000,1,0,36947,78.2667,D20,C,4,NaN,"Brookline, MA"
105,1,0,"Evans, Miss. Edith Corse",female,36.0000,0,0,PC 17531,31.6792,A29,C,NaN,NaN,"New York, NY"
106,1,0,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S,NaN,NaN,NaN
107,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,7,NaN,"New York, NY"
108,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C,4,NaN,NaN
109,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.0000,0,0,PC 17474,26.3875,E25,S,5,NaN,"Brooklyn, NY"
110,1,0,"Foreman, Mr. Benjamin Laventall",male,30.0000,0,0,113051,27.7500,C111,C,NaN,NaN,"New York, NY"
111,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0000,3,2,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
112,1,1,"Fortune, Miss. Ethel Flora",female,28.0000,3,2,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
113,1,1,"Fortune, Miss. Mabel Helen",female,23.0000,3,2,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
114,1,0,"Fortune, Mr. Charles Alexander",male,19.0000,3,2,19950,263.0000,C23 C25 C27,S,NaN,NaN,"Winnipeg, MB"
115,1,0,"Fortune, Mr. Mark",male,64.0000,1,4,19950,263.0000,C23 C25 C27,S,NaN,NaN,"Winnipeg, MB"
116,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0000,1,4,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
117,1,1,"Francatelli, Miss. Laura Mabel",female,30.0000,0,0,PC 17485,56.9292,E36,C,1,NaN,NaN
118,1,0,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S,NaN,NaN,"Westcliff-on-Sea, Essex"
119,1,1,"Frauenthal, Dr. Henry William",male,50.0000,2,0,PC 17611,133.6500,NaN,S,5,NaN,"New York, NY"
120,1,1,"Frauenthal, Mr. Isaac Gerald",male,43.0000,1,0,17765,27.7208,D40,C,5,NaN,"New York, NY"
121,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S,5,NaN,"New York, NY"
122,1,1,"Frolicher, Miss. Hedwig Margaritha",female,22.0000,0,2,13568,49.5000,B39,C,5,NaN,"Zurich, Switzerland"
123,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0000,1,1,13567,79.2000,B41,C,5,NaN,"Zurich, Switzerland"
124,1,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0000,1,1,13567,79.2000,B41,C,5,NaN,"Zurich, Switzerland"
125,1,0,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S,NaN,NaN,NaN
126,1,0,"Futrelle, Mr. Jacques Heath",male,37.0000,1,0,113803,53.1000,C123,S,NaN,NaN,"Scituate, MA"
127,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0000,1,0,113803,53.1000,C123,S,D,NaN,"Scituate, MA"
128,1,0,"Gee, Mr. Arthur H",male,47.0000,0,0,111320,38.5000,E63,S,NaN,275.0,"St Anne's-on-Sea, Lancashire"
129,1,1,"Geiger, Miss. Amalie",female,35.0000,0,0,113503,211.5000,C130,C,4,NaN,NaN
130,1,1,"Gibson, Miss. Dorothy Winifred",female,22.0000,0,1,112378,59.4000,NaN,C,7,NaN,"New York, NY"
131,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.0000,0,1,112378,59.4000,NaN,C,7,NaN,"New York, NY"
132,1,0,"Giglio, Mr. Victor",male,24.0000,0,0,PC 17593,79.2000,B86,C,NaN,NaN,NaN
133,1,1,"Goldenberg, Mr. Samuel L",male,49.0000,1,0,17453,89.1042,C92,C,5,NaN,"Paris, France / New York, NY"
134,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C,5,NaN,"Paris, France / New York, NY"
135,1,0,"Goldschmidt, Mr. George B",male,71.0000,0,0,PC 17754,34.6542,A5,C,NaN,NaN,"New York, NY"
136,1,1,"Gracie, Col. Archibald IV",male,53.0000,0,0,113780,28.5000,C51,C,B,NaN,"Washington, DC"
137,1,1,"Graham, Miss. Margaret Edith",female,19.0000,0,0,112053,30.0000,B42,S,3,NaN,"Greenwich, CT"
138,1,0,"Graham, Mr. George Edward",male,38.0000,0,1,PC 17582,153.4625,C91,S,NaN,147.0,"Winnipeg, MB"
139,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0000,0,1,PC 17582,153.4625,C125,S,3,NaN,"Greenwich, CT"
140,1,1,"Greenfield, Mr. William Bertram",male,23.0000,0,1,PC 17759,63.3583,D10 D12,C,7,NaN,"New York, NY"
141,1,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.0000,0,1,PC 17759,63.3583,D10 D12,C,7,NaN,"New York, NY"
142,1,0,"Guggenheim, Mr. Benjamin",male,46.0000,0,0,PC 17593,79.2000,B82 B84,C,NaN,NaN,"New York, NY"
143,1,1,"Harder, Mr. George Achilles",male,25.0000,1,0,11765,55.4417,E50,C,5,NaN,"Brooklyn, NY"
144,1,1,"Harder, Mrs. George Achilles (Dorothy Annan)",female,25.0000,1,0,11765,55.4417,E50,C,5,NaN,"Brooklyn, NY"
145,1,1,"Harper, Mr. Henry Sleeper",male,48.0000,1,0,PC 17572,76.7292,D33,C,3,NaN,"New York, NY"
146,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0000,1,0,PC 17572,76.7292,D33,C,3,NaN,"New York, NY"
147,1,0,"Harrington, Mr. Charles H",male,NaN,0,0,113796,42.4000,NaN,S,NaN,NaN,NaN
148,1,0,"Harris, Mr. Henry Birkhardt",male,45.0000,1,0,36973,83.4750,C83,S,NaN,NaN,"New York, NY"
149,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0000,1,0,36973,83.4750,C83,S,D,NaN,"New York, NY"
150,1,0,"Harrison, Mr. William",male,40.0000,0,0,112059,0.0000,B94,S,NaN,110.0,NaN
151,1,1,"Hassab, Mr. Hammad",male,27.0000,0,0,PC 17572,76.7292,D49,C,3,NaN,NaN
152,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S,3,NaN,"Kingston, Surrey"
153,1,1,"Hays, Miss. Margaret Bechstein",female,24.0000,0,0,11767,83.1583,C54,C,7,NaN,"New York, NY"
154,1,0,"Hays, Mr. Charles Melville",male,55.0000,1,1,12749,93.5000,B69,S,NaN,307.0,"Montreal, PQ"
155,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0000,1,1,12749,93.5000,B69,S,3,NaN,"Montreal, PQ"
156,1,0,"Head, Mr. Christopher",male,42.0000,0,0,113038,42.5000,B11,S,NaN,NaN,London / Middlesex
157,1,0,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S,NaN,NaN,"Brighton, MA"
158,1,0,"Hipkins, Mr. William Edward",male,55.0000,0,0,680,50.0000,C39,S,NaN,NaN,London / Birmingham
159,1,1,"Hippach, Miss. Jean Gertrude",female,16.0000,0,1,111361,57.9792,B18,C,4,NaN,"Chicago, IL"
160,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.0000,0,1,111361,57.9792,B18,C,4,NaN,"Chicago, IL"
161,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0000,1,0,13502,77.9583,D11,S,10,NaN,"Hudson, NY"
162,1,0,"Holverson, Mr. Alexander Oskar",male,42.0000,1,0,113789,52.0000,NaN,S,NaN,38.0,"New York, NY"
163,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0000,1,0,113789,52.0000,NaN,S,8,NaN,"New York, NY"
164,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0000,0,0,111426,26.5500,NaN,C,15,NaN,"Indianapolis, IN"
165,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0000,1,0,19943,90.0000,C93,S,D,NaN,"New York, NY / Stamford CT"
166,1,0,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C,14,NaN,"New York, NY"
167,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0000,1,0,19943,90.0000,C93,S,D,NaN,"New York, NY / Stamford CT"
168,1,1,"Icard, Miss. Amelie",female,38.0000,0,0,113572,80.0000,B28,NaN,6,NaN,NaN
169,1,0,"Isham, Miss. Ann Elizabeth",female,50.0000,0,0,PC 17595,28.7125,C49,C,NaN,NaN,"Paris, France New York, NY"
170,1,1,"Ismay, Mr. Joseph Bruce",male,49.0000,0,0,112058,0.0000,B52 B54 B56,S,C,NaN,Liverpool
171,1,0,"Jones, Mr. Charles Cresson",male,46.0000,0,0,694,26.0000,NaN,S,NaN,80.0,"Bennington, VT"
172,1,0,"Julian, Mr. Henry Forbes",male,50.0000,0,0,113044,26.0000,E60,S,NaN,NaN,London
173,1,0,"Keeping, Mr. Edwin",male,32.5000,0,0,113503,211.5000,C132,C,NaN,45.0,NaN
174,1,0,"Kent, Mr. Edward Austin",male,58.0000,0,0,11771,29.7000,B37,C,NaN,258.0,"Buffalo, NY"
175,1,0,"Kenyon, Mr. Frederick R",male,41.0000,1,0,17464,51.8625,D21,S,NaN,NaN,"Southington / Noank, CT"
176,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S,8,NaN,"Southington / Noank, CT"
177,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0000,1,0,11753,52.5542,D19,S,5,NaN,"Boston, MA"
178,1,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.0000,1,0,11753,52.5542,D19,S,5,NaN,"Boston, MA"
179,1,0,"Klaber, Mr. Herman",male,NaN,0,0,113028,26.5500,C124,S,NaN,NaN,"Portland, OR"
180,1,1,"Kreuchen, Miss. Emilie",female,39.0000,0,0,24160,211.3375,NaN,S,2,NaN,NaN
181,1,1,"Leader, Dr. Alice (Farnham)",female,49.0000,0,0,17465,25.9292,D17,S,8,NaN,"New York, NY"
182,1,1,"LeRoy, Miss. Bertha",female,30.0000,0,0,PC 17761,106.4250,NaN,C,2,NaN,NaN
183,1,1,"Lesurer, Mr. Gustave J",male,35.0000,0,0,PC 17755,512.3292,B101,C,3,NaN,NaN
184,1,0,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C,NaN,NaN,"Chicago, IL"
185,1,0,"Lindeberg-Lind, Mr. Erik Gustaf (""Mr Edward Li...",male,42.0000,0,0,17475,26.5500,NaN,S,NaN,NaN,"Stockholm, Sweden"
186,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0000,0,0,112377,27.7208,NaN,C,6,NaN,"Stockholm, Sweden"
187,1,1,"Lines, Miss. Mary Conover",female,16.0000,0,1,PC 17592,39.4000,D28,S,9,NaN,"Paris, France"
188,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0000,0,1,PC 17592,39.4000,D28,S,9,NaN,"Paris, France"
189,1,0,"Long, Mr. Milton Clyde",male,29.0000,0,0,113501,30.0000,D6,S,NaN,126.0,"Springfield, MA"

In [20]:
titanic.describe() # gives summary of only numeric columns

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [21]:
titanic.describe(include="all")#gives summary of all the columns

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309.000000,1309.000000,1309,1309,1046.000000,1309.000000,1309.000000,1309,1308.000000,295,1307,486,121.000000,745
unique,NaN,NaN,1307,2,NaN,NaN,NaN,929,NaN,186,3,27,NaN,369
top,NaN,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S,13,NaN,"New York, NY"
freq,NaN,NaN,2,843,NaN,NaN,NaN,11,NaN,6,914,39,NaN,64
mean,2.294882,0.381971,NaN,NaN,29.881135,0.498854,0.385027,NaN,33.295479,NaN,NaN,NaN,160.809917,NaN
std,0.837836,0.486055,NaN,NaN,14.413500,1.041658,0.865560,NaN,51.758668,NaN,NaN,NaN,97.696922,NaN
min,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,1.000000,NaN
25%,2.000000,0.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN,NaN,72.000000,NaN
50%,3.000000,0.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN,NaN,155.000000,NaN
75%,3.000000,1.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.275000,NaN,NaN,NaN,256.000000,NaN
max,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN,NaN,328.000000,NaN

In [22]:
titanic.describe(include="all").T #to transpose the table

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
pclass,1309.0,NaN,NaN,NaN,2.294882,0.837836,1.0,2.0,3.0,3.0,3.0
survived,1309.0,NaN,NaN,NaN,0.381971,0.486055,0.0,0.0,0.0,1.0,1.0
name,1309,1307,"Kelly, Mr. James",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,1309,2,male,843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,1046.0,NaN,NaN,NaN,29.881135,14.4135,0.1667,21.0,28.0,39.0,80.0
sibsp,1309.0,NaN,NaN,NaN,0.498854,1.041658,0.0,0.0,0.0,1.0,8.0
parch,1309.0,NaN,NaN,NaN,0.385027,0.86556,0.0,0.0,0.0,0.0,9.0
ticket,1309,929,CA. 2343,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fare,1308.0,NaN,NaN,NaN,33.295479,51.758668,0.0,7.8958,14.4542,31.275,512.3292
cabin,295,186,C23 C25 C27,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
embarked,1307,3,S,914,NaN,NaN,NaN,NaN,NaN,NaN,NaN
boat,486,27,13,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
body,121.0,NaN,NaN,NaN,160.809917,97.696922,1.0,72.0,155.0,256.0,328.0
home.dest,745,369,"New York, NY",64,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can eliminate those vaiables that will not serve the objective task, for example variables that are identifiers

We have the following identifiers: cabin,name,ticket,boat,body,home,dest

In [23]:
titanic.drop(columns=['cabin','name','ticket','boat','body','home.dest'],inplace=True)
#if inplace=False it return a copy. Otherwise,does operation in place and return None

In [26]:
titanic.head()

   pclass  survived     sex      age  sibsp  parch      fare embarked
0       1         1  female  29.0000      0      0  211.3375        S
1       1         1    male   0.9167      1      2  151.5500        S
2       1         0  female   2.0000      1      2  151.5500        S
3       1         0    male  30.0000      1      2  151.5500        S
4       1         0  female  25.0000      1      2  151.5500        S

We can see what values there are in the categorical variables

In [29]:
titanic.embarked.unique() #to find all the distinct values present in that column

array(['female', 'male'], dtype=object)

In [30]:
titanic.sex.unique()

array(['female', 'male'], dtype=object)

We will reorder the columns so that the response variable (survival) is first

In [34]:
cols=list(titanic.columns)
cols.remove('survived')
cols.insert(0,'survived')
titanic=titanic.reindex(columns=cols) #to reorder the columns in the DataFrame based in the new list order

titanic.head()

   survived  pclass     sex      age  sibsp  parch      fare embarked
0         1       1  female  29.0000      0      0  211.3375        S
1         1       1    male   0.9167      1      2  151.5500        S
2         0       1  female   2.0000      1      2  151.5500        S
3         0       1    male  30.0000      1      2  151.5500        S
4         0       1  female  25.0000      1      2  151.5500        S